.gameCont {
  padding: 1rem;
}

.game {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

img {
  height: 75%;
  width: 100%;
  border-radius: 5px;
  border: 4px solid rgb(161, 161, 161);
}

.drawingCont {
  position: relative;
}

.circleFound {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid rgb(82, 255, 47);
}
